
  <form class="form-horizontal" action="{{ path('fos_user_security_check') }}" method="post">
  <fieldset>
    <legend>Formulaire de connection</legend>
    
    
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Email ou Pseudo</label>
      <div class="col-lg-10">
        <input type="text" name="_username" class="form-control" id="inputUsername" placeholder="Email ou Pseudo">
      </div>
    </div>
      
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Mot de Passe</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
      </div>
    </div>
      <div style="text-align: center;">
    <input class="btn btn-primary"  type="submit" value="Connexion" />
      </div>
  </fieldset>
</form>
  