$images-path: "/bundles/cooptilleulsmondaron/images";

$font-family-light: "OpenSansLight", Helvetica, Arial, sans-serif;
$font-family-regular: "OpenSansRegular", Helvetica, Arial, sans-serif;
$font-family-bold: "OpenSansBold", Helvetica, Arial, sans-serif;

$header-min-height: 35px;

$small-blocks-height: 8%;
$small-blocks-min-height: 30px;

$ask-description-height: 16%;
$ask-description-min-height: 50px;
$ask-form-height: 60%;
$ask-input-file-height: 60%;
$ask-input-file-min-height: 115px;
$ask-small-blocks-height: 40% / 3;

$image-upload-height: 28%;
$image-upload-min-height: 115px;
$send-description-height: 26%;
$send-description-no-pic-height: 39%;
$send-description-min-height: 100px;
$textarea-height: 25%;
$textarea-no-pic-height: 40%;
$open-sms-height: 5%;
$open-sms-min-height: 30px;

$pay-index-description-height: 12%;
$pay-index-description-min-height: 40px;
$product-details-height: 12%;
$product-details-min-height: 60px;
$product-title-height: 33%;
$product-value-height: 100% - $product-title-height;
$product-color-size: 30px;
$product-name-min-height: 30px;

$carousel-height: 52%;
$carousel-preview-height: 70%;
$carousel-nav-height: 30%;
$carousel-nav-min-height: 80px;
$carousel-arrow-width: 25px;

$pay-title-height: 12%;
$pay-title-min-height: 30px;
$pay-description-height: 36%;
$pay-email-form-height: $small-blocks-height * 2;

$header-confirm-height: 12%;
$confirm-pink-height: 40%;
$confirm-pink-min-height: 90px;
$confirm-white-height: 28%;
$confirm-blue-height: 20%;
$confirm-blue-min-height: 30px;

$step-size: 15px;

$yellow: #f1b136;
$yellow-dark: #db9e22;

$pink: #de576c;
$purple: #6d4665;

$mint-light: #6ed8d0;
$mint-medium: #12b0a5;
$mint-dark: #00a499;

$blue-dark: #34344d;
$blue-darker: #27273f;

$red-errors: #d64541;

$gray-lighter: #F3F3F3;