
{% extends "TSAppBundle::layout.html.twig" %}

{% block title %}
  Aide - {{ parent() }}
{% endblock %}

{% block ts_app_body %}

<div class="discovery-section page-container-responsive page-container-no-padding">
    <div class="section-intro text-center row-space-6 row-space-top-8">
  <h2 class="row-space-1">
    <strong>Page d'aide </strong>
  </h2>

</div>
</div>
    
    
    
    
    
{% endblock %}